.filter {
  width: 80%;
  height: 100vh;
  max-width: 28rem;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 5px 0 0 5px;
  box-shadow: -4px 0 12px 0 rgba(0, 0, 0, 0.2);
  z-index: 200;

  &__container {
    padding: 0.5rem;
  }

  &__LastStep,
  h2 {
    margin-bottom: 0.5rem;
  }

  &__button {
    &-container {
      // border: 2px solid red;
      height: 100%;
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &-items {
      // border: 2px solid grey;
      border-radius: 5px;
      height: 100%;
    }

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 5rem;

      flex-wrap: wrap;
    }

    &-showRemaining,
    &-showDistrict {
      background-color: #07b53b;
    }

    &-notShowRemaining {
      background-color: #07b53b;
    }
  }
}

@media screen and (min-width: 992px) {
  .filter {
    width: 30%;

    &__container {
      padding: 0.5rem;
    }

    &__LastStep,
    h2 {
      margin-bottom: 0.5rem;
    }

    &__button {
      &-container {
        // border: 2px solid red;
        height: 100%;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      &-items {
        // border: 2px solid grey;
        border-radius: 5px;
        height: 100%;
      }

      &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 5rem;

        flex-wrap: wrap;
      }

      &-showRemaining,
      &-showDistrict {
        background-color: #07b53b;
      }

      &-notShowRemaining {
        background-color: #07b53b;
      }
    }
  }
}
