.info {
  &__card {
    width: 92%;
    max-width: 500px;
    position: fixed;
    bottom: 4.25rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 100;
  }

  &__position {
    text-align: right;
    margin-bottom: 0.5rem;
  }

  &__container {
    // border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.75rem;
    background-color: white;
    font-size: 0.75rem;
    line-height: 1.125rem;
  }

  &__dragger {
    background-color: #a1aaa4;
    height: 0.25rem;
    width: 2rem;
    border-radius: 2px;
    margin: 0 auto 0.75rem auto;
  }

  &__above {
    &-content {
      display: flex;
    }

    &-left {
      flex: 1;
      h3 {
        font-size: 1.125rem;
        margin-bottom: 0.25rem;
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      div {
        margin-top: 0.25rem;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .info {
    &__card {
      all: unset;
      display: flex;
      position: absolute;
      bottom: 1.5rem;
      left: 7.5rem;
      z-index: 100;
      max-width: calc((100% - 5.75rem) / 2 );
    }

    &__position {
      order: 1;
      margin-left: 0.75rem;
      display: flex;
      align-items: flex-end;
    }

    &__container {
      padding: 1.375rem;
      font-size: 1rem;
      line-height: 1.5rem;
    }

    &__dragger {
    background-color: #a1aaa4;
    height: 0.375rem;
    width: 2.5rem;
    border-radius: 2.5px;
  }

    &__above {
      &-content {
        display: flex;
      }

      &-left {
        h3 {
          font-size: 1.5rem;
          margin-bottom: 0.375rem;
        }
      }

      &-right {
        padding-right: 0.5rem;
        div {
          margin-top: 0.25rem;
        }
      }
    }
  }
}
