@charset "UTF-8";
.sidebar {
  width: 100vw;
  height: 3.25rem;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  box-shadow: 0 -4px 12px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.sidebar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  height: 100%;
}
.sidebar ul .link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

@media screen and (min-width: 992px) {
  .sidebar {
    width: 5.75rem;
    height: 100vh;
    box-shadow: 4px 0 12px 0 rgba(0, 0, 0, 0.2);
  }
  .sidebar ul {
    padding-top: 2rem;
    flex-direction: column;
    margin: 0 auto;
    height: 70%;
  }
  .sidebar ul .link-container span {
    font-size: 1rem;
    padding-top: 0.5rem;
  }
}
.info_card {
  width: 92%;
  max-width: 500px;
  position: absolute;
  bottom: 4.25rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 100;
}
.info__position {
  text-align: right;
  margin-bottom: 0.5rem;
}
.info__container {
  border-radius: 0.5rem;
  padding: 0.75rem;
  background-color: white;
  font-size: 0.75rem;
  line-height: 1.125rem;
}
.info__dragger {
  background-color: #a1aaa4;
  height: 0.25rem;
  width: 2rem;
  border-radius: 2px;
  margin: 0 auto 0.75rem auto;
}
.info__above-content {
  display: flex;
}
.info__above-left {
  flex: 1;
}
.info__above-left h3 {
  font-size: 1.125rem;
  margin-bottom: 0.25rem;
}
.info__above-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info__above-right div {
  margin-top: 0.25rem;
}

@media screen and (min-width: 992px) {
  .info_card {
    all: unset;
    display: flex;
    position: absolute;
    bottom: 1.5rem;
    left: 7.5rem;
    z-index: 100;
    max-width: calc((100% - 5.75rem) / 2);
  }
  .info__position {
    order: 1;
    margin-left: 0.75rem;
    display: flex;
    align-items: flex-end;
  }
  .info__container {
    padding: 1.375rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .info__dragger {
    background-color: #a1aaa4;
    height: 0.375rem;
    width: 2.5rem;
    border-radius: 2.5px;
  }
  .info__above-content {
    display: flex;
  }
  .info__above-left h3 {
    font-size: 1.5rem;
    margin-bottom: 0.375rem;
  }
  .info__above-right {
    padding-right: 0.5rem;
  }
  .info__above-right div {
    margin-top: 0.25rem;
  }
}
/* reset css */
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: var(--h1-size);
  font-weight: var(--bold-weight);
}

h2 {
  font-size: var(--h2-size);
  font-weight: var(--bold-weight);
}

h3 {
  font-size: var(--h3-size);
  font-weight: var(--medium-weight);
}

h4 {
  font-size: var(--h4-size);
  font-weight: var(--medium-weight);
}

h5 {
  font-size: var(--h5-size);
  font-weight: var(--medium-weight);
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: var(--main-text-color);
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
  background: none;
  outline: none;
  border: none;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

input:focus {
  border: none;
}

/* chrome居然有input預設樣式，使用bg-color無效，所以用陰影的方式(1000px超大！)把它遮起來 */
input:-internal-autofill-selected {
  /* 用陰影的方式改變背景色 */
  box-shadow: inset 0 0 0 1000px var(--text-area-color) !important;
}/*# sourceMappingURL=main.css.map */