/* reset css */
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: var(--h1-size);
    font-weight: var(--bold-weight);
}

h2{
    font-size: var(--h2-size);
    font-weight: var(--bold-weight);
}

h3{
    font-size: var(--h3-size);
    font-weight: var(--medium-weight);
}

h4{
    font-size: var(--h4-size);
    font-weight: var(--medium-weight);
}
h5{
    font-size: var(--h5-size);
    font-weight: var(--medium-weight);
}

ul,
ol,
li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: var(--main-text-color);
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
    outline: 0px !important;
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

button[disabled] {
    pointer-events: none;
}

input {
    padding: 0;
    background: none;
    outline: none;
    border: none;

}

input:required {
    box-shadow: none;
}

input:invalid {
    box-shadow: none;
}


input:focus {
    border: none;
}

/* chrome居然有input預設樣式，使用bg-color無效，所以用陰影的方式(1000px超大！)把它遮起來 */
input:-internal-autofill-selected {
  /* 用陰影的方式改變背景色 */
  box-shadow: inset 0 0 0 1000px var(--text-area-color) !important; 
}


