.sidebar {
  width: 100vw;
  height: 3.25rem;
  background-color: #7ddbb9;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  box-shadow: 0 -4px 12px 0 rgba(125, 219, 185, 0.7);
  z-index: 100;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    .link-logo-1 {
      display: none;
    }
    .link-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      width: 4rem;
      height: 3.25rem;
      // border: 1px solid black;
      border-radius: 5px;
      &:hover {
        background-color: #ff7b7b;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .sidebar {
    width: 5.75rem;
    height: 100vh;
    box-shadow: 4px 0 12px 0 rgba(125, 219, 185, 0.7);
    ul {
      padding-top: 2rem;
      flex-direction: column;
      margin: 0 auto;
      height: 40%;
      .link-logo-1 {
        display: block;
      }
      .link-logo-2 {
        display: none;
      }

      .link-container {
        width: 4rem;
        height: 4.5rem;
      }
      .link-container span {
        font-size: 1rem;
        padding-top: 0.5rem;
      }
    }
  }
}
