.sidebar {
  width: 100vw;
  height: 3.25rem;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  box-shadow: 0 -4px 12px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.sidebar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  height: 100%;
}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

@media screen and (min-width: 992px) {
  .sidebar {
    width: 5.75rem;
    height: 100vh;
    box-shadow: 4px 0 12px 0 rgba(0, 0, 0, 0.2);
  }

  .sidebar ul {
    padding-top: 2rem;
    flex-direction: column;
    margin: 0 auto;
    height: 70%;
  }

  .link-container span {
    font-size: 1rem;
    padding-top: 0.5rem;
  }
}
